$font: 'Baloo Bhaijaan', cursive;
$background: black;
$fontColor: #a7eaa2;

@mixin headers {
    text-align: center;
    margin: 2px;
    padding: 0px;
}

body {
    background-color: $background;
    color: $fontColor;
    font-family: $font;
}

h1 {
    @include headers;
    font-size: 50px;
}

h2 {
    @include headers;
    font-size: 35px;
}

#cat {
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0px;
}

.stuff {
    position: absolute;
}

#eye1 {
    z-index: 10;
    position: absolute;
    top: 233px;
    left: 581px;
}

#eye2 {
    z-index: 10;
    position: absolute;
    top: 233px;
    left: 725px;
}

table { 
    width: 100%;
}

td {
    width: 50%;
}

.links {
    font-size: 50px;
}

#meow, #laserSound {
    display: none;
}

#laser1, #laser2 {
    display: none;
    position: absolute;
    z-index: 20;
    transform-origin: left top;
}

.copy {
    text-align: center;
    font-size: 15px;
}