$font: 'Baloo Bhaijaan', cursive;
$background: black;
$fontColor: #a7eaa2;

@mixin headers {
    text-align: center;
    margin: 2px;
    padding: 0px;
}

body {
    background-color: $background;
    color: $fontColor;
    font-family: $font;
}

h1 {
    @include headers;
    font-size: 50px;
}

h2 {
    @include headers;
    font-size: 35px;
}

#cat {
    width: 400px;
    display: block;
    margin: auto;
}

#eye1 {
    z-index: 10;
    position: absolute;
    //top: 233px;
    //left: 581px;
}

#eye2 {
    z-index: 10;
    position: absolute;
    top: 233px;
    left: 725px;
}
